.backgroundModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  left: 0;
  &.hideMobile.hideDesktop{
    display: none!important;
  }
  &.hideDesktop{
    display: none;
  }
  &.ModalNone{
    display: none!important;
  }
  .tooltip-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3000;
    background: rgba(45, 43, 68, 0.6);
  }
}

.ModalTrack{
  display: initial;
  h6{
    text-align: left;
  }
  .d-block{
    position: relative;
    background: white;
    border-radius: 16px;
  }
  .ImgCloseBtn{
    border: inherit;
    background: none;
    right: 16px;
    top: 18px;
    z-index: 20000;
    position: absolute;
  }
}

@media screen and (min-width: 1000px) {
  .ModalContainer {
    transition: opacity 0.3s, transform 0s 0.3s ;
    background: rgba(45, 43, 68, 0.6);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transform: scaleY(0);
    opacity: 0;
    display: flex;

    .mobil{
      display: none;
    }

    &.active {
      transition: opacity 0.3s 0.3s, transform 0s;
      transform: scaleY(1);
      opacity: 1;
    }

    .ModalContainerShad{
      width: 100vw;
      height: 100vh;
    }

    &.active .ModalTrack {
      transform: scale(1);
    }

    .ModalTrack{
      transform: scale(0);
      flex-shrink: 0;
      transition: all 0.3s;
      z-index: 2000;
      position: absolute;
      height: max-content;
      /*overflow-y: scroll;*/
    }
  }
}


@media screen and (max-width: 1000px) {

  .deck{
    display: none;
  }
  .d-block{
    padding: inherit;
  }
  .hideDesktop{
    display: inherit;
  }
  .hideMobile{
    display: none;
  }

  .ModalContainer{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    .ModalContainer {
      max-height: 0 !important;

      .ModalTrack {
        max-height: 0 !important;
      }
    }
    &.maxHeight.active .d-block {
      .d-block{
        height: 100%!important;
        background: white;
      }
      .TextCenter{
      height: 100%;
      background: white;
    }
    }
    &.active{
      overflow-y: scroll;
      height: 100vh;

      .ModalTrack{
        height: calc(100%);
        display: block;
      }
    }
    .ModalTrack {
      z-index: 20!important;
      transition: all 0.5s;
      padding-top: 0;
      height: calc(0%);
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: scroll;
      background: rgba(45, 43, 68, 0.3);

      .ImgCloseBtn{
        border: inherit;
        background: none;
        right: 16px;
        top: 18px;
        z-index: 20000;
        position: absolute;
      }
      .ImgCloseBtn{
        border: inherit;
        background: none;
        right: 16px;
        top: 18px;
        z-index: 20000;
        position: absolute;
      }

      .CourseCardControlCard {
        border: 1px solid #E7E8EE;
        border-radius: 12px;
      }
      h6{
        text-align: left;
      }
    }
    .ModalContainerShad{
      position: absolute;
      width: 100vw;
      z-index: 60;
      height: 100vh;
    }
    .ModalContainer.active{
      border-radius: 0px 0px 0px 0px;
      background: #F3F3F8;
      height: 100%;
      .d-block{
        overflow-y: scroll;
        max-height: calc(100% - 130px);
      }
      .ModalTrack{
        overflow: hidden;
        max-height: calc(100%)!important;
      }
    }
    .d-block{
      opacity: 1;
      transition: all 0.5s;
      max-height: 0;
      position: absolute!important;
      bottom: 0;
      width: 100%;
      &.activ{
        z-index: 1000;
        transition: all 0.5s;
        max-height: calc(100% - 80px);
        position: absolute;
        bottom: 0;
        border-radius: 16px;
      }
    }
  }
}
