.diplomaContainer {
  padding-top: 24px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  .DiplomaCard {
    border-radius: 16px;
    padding: 25px;
    border: 0;
    .tilesFlex{
      display: flex;
      flex-wrap: wrap;
      gap: 20px
    }

    .tileHeader{
      margin-bottom: 12px;
      font-weight: 600;
    }
  }
  .leftTiles{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 20%;
    max-width: 514px;
    min-width: 300px;
    flex-grow: 3;
  }
  .MobilFix{
    display: block;
  }
    .marginText{
      margin-bottom: 24px;
    }
    .d-flex{
      .MainButton{
        margin-right: 0.5rem
      }
      .mainButtonDiploma {
        font-size: 14px;
        padding: 10px 12px;
      }
      .secondary-button-diploma {
        font-size: 14px;
        padding: 10px 12px;
      }
      .secondary-button-diploma-with-icon::after{
        content: url("../../static/share.svg");
        margin-left: 10px;
      }

  }
  .rightTiles{
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-grow: 5;
    .mobi-opacity-block{
      display: none;
    }
  }
}




.RandomFeedback.NotVisible{
  transform: scale(0);
  transition-duration: 0.3s;
  /*transition: opacity 0.3s, transform 0s 0.3s ;*/
}
.RandomFeedback{
  box-shadow: 0px -1px 24px rgba(31, 31, 34, 0.02), 1px 4px 24px rgba(31, 31, 34, 0.06);
  position: absolute;
  bottom: 40px;

  transform: scale(1);
  /*transition: opacity 0.3s, transform 0s 0.3s ;*/
  transition-duration: 0.3s;

  right: 50px;
  border-radius: 16px;
}





@media screen and (max-width: 1000px){
  .diplomaContainer {
    padding-top: 0;
    grid-gap: 16px;
    .DiplomaCard {
      margin-top: 16px !important;
      .tilesFlex {
        display: inherit;
        &.rent {
          display: flex;
          overflow-x: scroll;
          flex-wrap: nowrap;
          padding-bottom: 280px;
        }
      }
      .tileHeader{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px!important;
        line-height: 22px;
        color: #1F1F22;
        &.education{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 16px!important;
          line-height: 22px;
          color: #1F1F22;
        }
      }
    }
    .leftTiles{
      width: 100%;
      max-width: inherit;
    }
    .MobilFix{
      padding: inherit;
      z-index: 10;
      bottom: 0;
      background: #F3F3F8;
       .DiplomaCard{
        background: none;
         h6 {
           font-family: 'Inter';
           font-style: normal;
           font-weight: 400;
           font-size: 14px;
         }
      }
    }
    .marginText{
      font-size: 12px;
      margin-bottom: 12px;
    }
    .d-flex{
      flex-direction: column;
      .MainButton{
      }
      .mainButtonDiploma {
        width: 100%;
        padding: 6px 8px;
        text-align: center;
        margin: 0 0 12px 0;
        &a{
          text-decoration: none;
        }
      }
      .secondary-button-diploma {
        width: 100%;
        padding: 6px 8px;
        text-align: center;
        margin: 0 0 12px 0;
      }
      .SecondaryButton{
        margin-bottom: inherit!important;
      }
    }
    .rightTiles{
      .mobi-opacity-block{
        display: none;
      }
    }
  }
}
@media screen and (max-width: 433px) {
  .diplomaContainer {
    padding-top: 0;
    grid-gap: 16px;

    .MobilFix{
      padding: 0 15px !important;
    }
    .rightTiles{
      .mobi-opacity-block{
        display: block;
        height: 0;
        width: min-content;
      }
    }
  }
}
